<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <Playwright>
    <BrowserName>webkit</BrowserName>
    <LaunchOptions>
      <Headless>false</Headless>
      <SlowMo>200</SlowMo>
    </LaunchOptions>
  </Playwright>
  <NUnit>
    <NumberOfTestWorkers>1</NumberOfTestWorkers>
  </NUnit>
</RunSettings>
